body {
	padding:10mm;
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
}
.card {
	width:85mm;
	height:55mm;
	border:1px solid #ccc;
}
.card-back {
	border-top:none;
}
.title {
	font-weight: bold;
	font-size:16.5px;
	position:absolute;
	top:12mm;
	left:13mm;
}
.picture img {
	width:3cm;
	height:40mm;
	object-fit: cover;
	position:absolute;
	top:20.5mm;
	left:13mm;
}
.field {
	border-bottom:1px solid #ccc;
	width:46mm;
	position:absolute;
	left:47mm;
	padding-bottom:0.3mm;
	font-size:12px;
	overflow:hidden;
}
.label {
	width:45mm;
	position:absolute;
	left:47mm;
	padding-top:4.3mm;
	font-size:9px;
	color:#666;
}
.name {
	top:21mm;
}
.container {
	top:29.4mm;
}
.dob {
	top:37.6mm;
}
.phone {
	top:45.8mm;
}
.issued {
	top:54mm;
}
.blue {
	color:#61c4ef;
}
.rules {
	width:79mm;
	position:absolute;
	top:68mm;
	left:13mm;
	font-size:9px;
}
.emergency {
	width:79mm;
	position:absolute;
	left:13mm;
	top:109mm;
	font-size:16px;
}
.rotate90 img {
	width:4cm;
	height:3cm;
	top:25.5mm;
	left:8mm;
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.rotate270 img {
	width:4cm;
	height:3cm;
	top:25.5mm;
	left:8mm;
	-webkit-transform:rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}
.rotate180 img {
	-webkit-transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}